<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3"><b>© 2019 Copyright - Jérémy Guillemot - </b>
        <a href="http://jeremyguillemot.fr" target="_blank">
            www.jeremyguillemot.fr
        </a>
    </div>
</footer>
