<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container d-flex justify-content-center">
        <a href="{{ path('task_list') }}" class="navbar-brand"><h1>Bloc Notes</h1></a>
    </div>
</div>
<hr>
