.font-strikethrough {
    text-decoration : line-through;
}

.cursor-link:hover {
    cursor : pointer;
}

.hidden {
    display : none;
}

.main-wrap {
    margin-top : 100px;
    width      : 95%;
}