{% extends 'front/layout/layout.html.twig' %}

{% block title %}Édition - {{ task.name }} - Bloc notes{% endblock %}

{% block content %}
<h1>Éditer</h1>
    {% include 'front/task/_form.html.twig' with {'form':form} only %}

{% endblock %}